
@import "tailwindcss";
@plugin "daisyui";


.btn-primary-custom {
  @apply btn  text-white bg-green-600 hover:bg-green-700 hover:text-white transition duration-200 ease-in-out;
}


.bg-custom-color{
 @apply bg-gradient-to-r from-green-400 to-green-500

}